<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename ='bootstrap.css')}}">
</head>
<body>
    <div class="container">

        {% with mensagens = get_flashed_messages() %}
            {% if mensagens %}
            <h5 class="alert alert-success">{{mensagens[0]}}</h5>
            {% endif %}
        {% endwith %}

        <h1>Faça seu login</h1>
        <form action="/autenticar" method="post">
            <label for="usuario">Nome do usuário</label>
            <input type="text"name="usuario" class="form-control" required>

            <label for="name">Senha:</label>
            <input type="password" name="senha" class="form-control" required>

            <button class="btn btn-primary">Entrar</button>


        </form>

    </div>
</body>
</html>